.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E1F29;
  color: #fff;
  padding: 10px 20px;
}

.navbar-logo {
  font-size: 45px;
}

.logo-animation {
  animation: neonGlow 1.5s ease infinite alternate;
}

@keyframes neonGlow {
  from {
    color: #fff;
  }
  to {
    color: red;
  }
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: red;
}


.cart-count {
  position: absolute;
  top: 12px;
  right: 40px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 9px;
}


.navigationbar p:hover {
  background-color: whitesmoke;
  color: black;
}
#navigation {
  background: #FFF;
  border-bottom: 2px solid #E4E7ED;
  border-top: 3px solid #D10024;
}


body {
  background-color: #1E1F29;
  margin: 0;
}


h1 {
  color: white;
  text-align: center;
}


.cart-items {
  margin-bottom: 20px;
  color: white;
  
}

.remove-btn{
  border-radius: 10px;
  background-color: #e23e0a;
  color: white;
}
.table-container{
  width: auto;
  border-style: groove;

}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}



.cart-item {
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px dotted rgba(109, 107, 107, 0.3);
}

.cart-summary {
  padding: 20px;
  border: 3px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.5);
  margin: 0 auto; 
  width:40%;
  color: white;
}
#checkout-btn {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 30px;
  font-size: 14px;
  background-color: #e23e0a;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-decoration: none;
  outline: none;
}

#checkout-btn:hover {
  background-color: #e23e0a;
  transform: scale(1.05);
}
